*{
    box-sizing: border-box;
}

body{
    font-family: 'Lexend Deca', Arial, Helvetica, sans-serif;
    background-color: hsl(233, 47%, 7%);
    color: white;
    -webkit-font-smoothing: antialiased;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main-container{
    background-color: hsl(244, 38%, 16%);
    border-radius: 10px;
    width: 1440px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

/*MAIN CONTENT*/
.main-content{
    /*background-color: hsl(244, 38%, 16%);*/
    flex: 1 1 450px;
    max-width: 750px;
    margin: 0 auto;
    padding: 0 60px;
    align-self: center;
}

.main-content h1{
    font-size: 36px;
}

.main-content span{
    color: hsl(277, 64%, 61%);
}

.main-content .main-pg{
    margin-top: 30px;
    line-height: 1.6;
    color: hsla(0, 0%, 100%, 0.75);
    
}

/*DATA*/
.data{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}

.info{
    flex: 1; 
}

.info h2{
    margin: 8px 0px;
}

.info .secondary-pg{
    color: hsla(0, 0%, 100%, 0.6);
    text-transform: uppercase;
    font-size: 15px;
    margin: 0 auto;
}


/*IMG*/
.main-img img{
    display: flex;
    flex-wrap: wrap;
    border-radius: 0px 10px 10px 0px;
    width: 600px;
}

/*RESPONSIVO*/
@media screen and (max-width: 1080px){ /*MAX-WIDTH = TELAS MENORES QUE 1049 PX*/
    .main-container{
        display: block;
        max-width: 650px;
    }

    .main-content{
        text-align: center;
    }

    .main-img img{
        width: auto;
        margin: 20px auto;
        border-radius: 10px;
    }
}

@media screen and (max-width: 600px){
    .main-container{
        display: flex;
        max-width: 380px;
    }

    #main-content{
        order: 2;
        padding: 0px 40px;
    }

    #main-img img{
        background: url(img/image-header-mobile.jpg) no-repeat;
        order: 1;
        margin: 0;
        border-radius: 10px 10px 0px 0px;
        max-width: 380px;
    }

    #data{
        display: block;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .info{
        margin-bottom: 20px;
    }

}

